
<div class="container">
	<h1>Declaration</h1>
	<div ng-controller="DeclarationDetailsCtrl">
		<form>
		<fieldset ng-disabled="declarationEditDisabled">
			<fieldset class="form-group">
				<label for="localReferenceNumber">LRN</label>
				<input type="text" class="form-control" id="localReferenceNumber" ng-model="declaration.localReferenceNumber" placeholder="LRN">
			</fieldset>
			<fieldset class="form-group">
				<label for="invoiceAmount">Invoice Amount</label>
				<input type="text" class="form-control" id="invoiceAmount" ng-model="declaration.invoiceAmount.value" placeholder="0">
				<select
					class="form-control" name="invoiceAmountCurrencySelect"
					id="invoiceAmountCurrencySelect" ng-model="declaration.invoiceAmount.currency.code"
					required="true"
					ng-options="currency.code as currency.code + ' - ' + currency.name for currency in currencyCodelist | orderBy:'code'">
					<!--<option value="">-- choose currency --</option>-->
				</select>
				<p class="help-block">Currency {{declaration.invoiceAmount.currency.code}} used in: {{ currency.description }}</p>
			</fieldset>
			</fieldset>
			<button type="button" ng-click="declarationEditDisabled = false" class="btn btn-primary">Edit</button>
			<button type="button" ng-click="declarationEditDisabled = true" class="btn btn-primary">Save</button>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
